# Web Framework
streamlit==1.32.2
plotly

# Data Handling
pandas
numpy

# Data Sources
pytrends
yfinance
beautifulsoup4
requests

# AI/ML
transformers==4.37.2
torch==2.0.1
prophet==1.1.5

# Database
pymongo

# Utilities
python-dateutil
pytz
nltk
# Visualization
matplotlib  
seaborn
# Authentication
streamlit-authenticator
# Deployment
streamlit-cloud
# Miscellaneous
streamlit-extras
# Logging
loguru

cmdstanpy==1.2.4